/* DEFAULT DIALOG ANIMATION BEGIN */

dialog[open] {
    -webkit-animation: show 0.25s ease normal;
}
@-webkit-keyframes show{
    from {
        opacity: 0;
        transform: scale(0.5) translateY(-10%) rotate(30deg);
    }
    to {
        opacity: 1;
        transform: scale(1) translateY(0%) rotate(0deg);
    }
}

dialog.closeAnimate {
    -webkit-animation: close 0.25s ease normal;
}

@-webkit-keyframes close{
    from {
        opacity: 1;
        transform: scale(1) translateY(0%) rotate(0deg);
    }
    to {
        opacity: 0;
        transform: scale(0.5) translateY(-10%) rotate(-30deg);
    }
}

/* DIALOG ANIMATION END */