# IDEs
.vscode
.vs
.idea

# Old .gitignore
public
*.old
# we shouldn't be changing old
old/

# System files
desktop.ini
Thumbs.db
.DS_Store

# Dependencies
node_modules/

# Build results
build/
release/

# Test results
coverage/

# caches
.eslintcache

# certificate files
*.pem
