image: node:14.16.1

stages:
    - build
    - deploy

# GitLab Pages deployment
pages:
    image: php:latest
    stage: build
    script:
        - php build.php > public/redwarn.js
    artifacts:
        paths:
            # GitLab pages
            - public
    only:
        refs:
            - master

################################################################################
# ENGLISH WIKIPEDIA DEPLOYMENT
################################################################################
# The following takes into consideration Wikipedia policy. Edits to any CI
# process below this section MUST be reviewed by a RedWarn Core Team member
# before merging.

deploy_start:
    stage: deploy
    environment:
        name: production
        url: https://en.wikipedia.org/wiki/User:RedWarn/.js
    when: manual
    only:
        variables:
            - $CI_PROJECT_PATH == "redwarn/redwarn-web"
        refs:
            - master
        changes:
            - .gitlab-ci.yml
            - build.php
            - src/**/*
            - .gitlab/ci_scripts/**/*
    allow_failure: false
    script:
        - cd .gitlab/ci_scripts
        - npm ci
        - node enwiki/deploy.js
