/* DEFAULT DIALOG ANIMATION BEGIN */

dialog[open] {
    -webkit-animation: show 0.25s ease normal;
}
@-webkit-keyframes show{
    from {
        opacity: 0;
        transform: scale(3);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

dialog.closeAnimate {
    -webkit-animation: close 0.25s ease normal;
}

@-webkit-keyframes close{
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(3);
    }
}

/* DIALOG ANIMATION END */