.rw-preferences-tab--inactive {
    display: none;
}

/**
 * Vector compatibility.
 */
.vector-body h2 {
    margin-top: 0;
}

#rw-preferences .mdc-radio {
    padding: 5px 10px;
}

#rw-preferences .mdc-radio > input {
    /** Must be 20px + (padding height (see above rule) * 2) */
    height: 30px;
}

#rw-preferences .mdc-tab-bar {
    margin-bottom: 8px;
}
