.mdc-dialog .rw-mdc-protectionRequestDialog.mdc-dialog__surface {
    height: 95vh;
    max-width: 100vw;
    width: 45vw;
}

.rw-mdc-protectionRequestDialog .mdc-dialog__content {
    padding-top: 24px !important;
}

.rw-mdc-protectionRequestDialog .mdc-radio + label > div {
    height: 24px;
    padding: 8px 0;
}

.rw-mdc-protectionRequestDialog .rw-mdc-prd-options {
    position: relative;
}

.rw-mdc-protectionRequestDialog .mdc-radio--disabled + label {
    color: gray;
}

.rw-mdc-prd-protectionLevel img {
    height: 24px;
    width: auto;
}

.rw-mdc-prd-protectionLevel > span {
    vertical-align: top;
}

.rw-mdc-prd-protectionLevel > span + span {
    vertical-align: middle;
}

.rw-mdc-prd-protectionLevel + .rw-mdc-prd-protectionLevel {
    margin-top: 4px;
}

.rw-mdc-protectionRequestDialog .rw-mdc-protectionLevels--name {
    margin-left: 8px;
    vertical-align: middle;
}

.rw-mdc-prd-title__title {
    font-size: xx-large;
}

.rw-mdc-prd-title__title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.rw-mdc-prd-protectionInfo {
    margin-top: 16px;
}

.rw-mdc-prd-reason {
    display: block;
    width: 100%;
    margin: 16px 0;
}

.rw-mdc-prd-reason .mdc-menu {
    max-height: 275px !important;
}
