#p-personal {
    z-index: 1;
}

.mdc-dialog .rw-mdc-warnDialog.mdc-dialog__surface {
    height: 95vh;
    max-width: 100vw;
    width: 45vw;
}

.rw-mdc-warnDialog-user {
    min-height: 100px;
    width: 100%;
}

.rw-mdc-warnDialog-user--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--mdc-theme-background);

    transition: opacity 0.2s ease;
    opacity: 1;
}

.rw-mdc-warnDialog-user.rw-mdc-warnDialog-user--active
    .rw-mdc-warnDialog-user--overlay {
    pointer-events: none;
    opacity: 0;
}

.rw-mdc-warnDialog-user--overlay > div {
    width: 100%;
    height: 100%;
}

.rw-mdc-warnDialog-user--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rw-mdc-warnDialog-user--loading :first-child {
    font-size: xx-large;
}

@keyframes rw-mdc-colorPulsate {
    0% {
        color: gray;
    }
    50% {
        color: darkgray;
    }
    100% {
        color: gray;
    }
}

.rw-mdc-warnDialog-user--loading :last-child {
    font-size: smaller;
    animation: rw-mdc-colorPulsate 1s linear infinite;
}

.rw-mdc-warnDialog-user--input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rw-mdc-warnDialog-user--input span[data-mdc-textinput] {
    min-width: 250px;
    width: 65%;
    margin-right: 8px;
}

.rw-mdc-warnDialog-user table {
    border-collapse: collapse;
}

.rw-mdc-warnDialog-user table > tr:first-child > td:first-child {
    border-right: 1px solid lightgray;
    width: 100%;
}

.rw-mdc-warnDialog-user table > tr:first-child > td:last-child,
.rw-mdc-warnDialog-user table > tr:last-child > td {
    width: 20%;
}

.rw-mdc-warnDialog-user table > tr:first-child > td:last-child {
    border-bottom: 1px solid lightgray;
}

.rw-mdc-warnDialog-user--main {
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}

.rw-mdc-warnDialog-user--main table {
    display: block;
}

.rw-mdc-warnDialog-user--main table,
.rw-mdc-warnDialog-user--main tr,
.rw-mdc-warnDialog-user--main td {
    width: 100%;
}

.rw-mdc-warnDialog-user--main table tr:first-child td:first-child {
    max-width: 0;
}

.rw-mdc-warnDialog-user--username {
    font-size: xx-large;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.2em;
    height: 1.2em;
}

.rw-mdc-warnDialog-user--loading .rw-mdc-warnDialog-user--username {
    text-align: center;
    box-sizing: border-box;
    padding: 0 16px;
}

.rw-mdc-warnDialog-user--overview {
    font-size: smaller;
    text-transform: uppercase;
}

.rw-mdc-warnDialog-user--overview .mdc-tooltip {
    font-size: initial;
    text-transform: initial;
}

.rw-mdc-warnDialog-user--username a,
.rw-mdc-warnDialog-user--overview a {
    color: inherit;
}

.rw-mdc-warnDialog-user--overview a:hover {
    text-decoration: underline;
}

.rw-mdc-warnDialog-user--groups {
    padding: 0 16px;
    font-size: small;
}

.rw-mdc-warnDialog-user--groups a {
    color: gray;
}

.rw-mdc-warnDialog-reason {
    margin: 16px 0;
}

.rw-mdc-warnDialog-reason .rw-mdc-warnDialog-reason--dropdown {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.rw-mdc-warnDialog-reason .mdc-select {
    width: calc(100% - 56px); /* IconButton width + 8px margin */
}

.rw-mdc-warnDialog-reason .mdc-select__menu {
    max-height: 40vh !important;
}

.rw-mdc-warnDialog-reason .rw-mdc-warnDialog-reason--search {
    margin-left: 8px;
}

.rw-mdc-warnDialog-reason
    .rw-mdc-warnDialog-reason--levels
    .mdc-form-field
    > span {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rw-mdc-warnDialog-reason
    .rw-mdc-warnDialog-reason--levels
    .mdc-form-field
    > span
    > label {
    display: inline-flex;
}

.rw-mdc-warnDialog-reason .rw-mdc-warnDialog-reason--levels table,
.rw-mdc-warnDialog-reason .rw-mdc-warnDialog-reason--levels tr {
    width: 100%;
}

.rw-mdc-warnDialog-reason .rw-mdc-warnDialog-reason--levels table {
    height: 46px;
    border-spacing: 8px;
}

.rw-mdc-warnDialog-reason
    .rw-mdc-warnDialog-reason--levels
    table
    td:first-child {
    margin-top: 16px;
    width: 30%;
    border-right: 1px solid gray;
}

.rw-mdc-warnDialog-reason
    .mdc-text-field--filled.mdc-ripple-upgraded--background-focused
    .mdc-text-field__ripple::before {
    opacity: 0;
}

.rw-mdc-warnDialog-xray {
    border-radius: 8px;
    border: 1px solid #aaa;

    box-sizing: border-box;
    min-width: 0;
    width: 100%;
}

.rw-mdc-warnDialog-xray .rw-mdc-warnDialog-xray--content {
    min-height: 60px;
    font-family: sans-serif;
    font-size: 0.95rem;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1.5em;
    color: black;
}

.rw-mdc-warnDialog-xray .rw-mdc-warnDialog-xray--content p {
    margin: 0;
}

/* Status indicators hide */
.rw-mdc-warnDialog-validationFailed.hidden {
    display: none;
}

.rw-mdc-warnDialog-validationOkay.hidden {
    display: none;
}

/* Revert confirmation dialog */
.rw-mdc-riskyRevert {
    color: #f33;
}

/* Warning search dialog */

.mdc-dialog .rw-mdc-warnSearchDialog.mdc-dialog__surface {
    max-width: unset;
}

.mdc-dialog .rw-mdc-warnSearchDialog .mdc-dialog__content {
    padding: 0;
    overflow: hidden;
}

.mdc-dialog .rw-mdc-warnSearchDialog .rw-mdc-warnSearchDialog--searchBar {
    box-sizing: border-box;
    height: 56px;
    padding: 0 16px;
}
.mdc-dialog .rw-mdc-warnSearchDialog .rw-mdc-warnSearchDialog--warnings {
    /* Fixed to remove chin */
    max-height: calc(100% - 72px);
    margin: 16px;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.mdc-dialog
    .rw-mdc-warnSearchDialog
    .rw-mdc-warnSearchDialog--warnings
    .rw-warningCategory {
    flex: initial;
    width: 100%;
    border-bottom: 1px solid #bbb;
    margin: 8px 8px 4px 8px;

    color: black;
    font-weight: bold;
}

.mdc-dialog .rw-mdc-warnSearchDialog .rw-mdc-warnSearchDialog-warning {
    padding: 8px;
    width: calc(50% - 16px);
    margin: 4px 8px;
    flex: initial;

    cursor: pointer;
    user-select: none;
    transition: background-color 0.2s ease;
}

.mdc-dialog
    .rw-mdc-warnSearchDialog
    .rw-mdc-warnSearchDialog--searchBar.rw-mdc-warnSearchDialog--searchBar--focused
    + .rw-mdc-warnSearchDialog--warnings
    .rw-mdc-warnSearchDialog-warning--top {
    /* Card outline */
    box-shadow: inset 0 0 0 2px var(--mdc-theme-primary);
}

.mdc-dialog
    .rw-mdc-warnSearchDialog
    .rw-mdc-warnSearchDialog--searchBar:not(.rw-mdc-warnSearchDialog--searchBar--focused)
    + .rw-mdc-warnSearchDialog--warnings
    .rw-mdc-warnDialog-searchDialog-instantSelect {
    display: none;
}

.mdc-dialog .rw-mdc-warnSearchDialog .rw-mdc-warnSearchDialog-warning table {
    border-collapse: collapse;
}

.mdc-dialog .rw-mdc-warnSearchDialog .rw-warnSearch-hidden {
    display: none;
}

.mdc-dialog
    .rw-mdc-warnSearchDialog
    .rw-mdc-warnSearchDialog-warning.rw-warning-selected {
    background-color: rgba(0, 0, 0, 0.15);
    cursor: unset;
}

/* Press ENTER to select screen */
.mdc-dialog
    .rw-mdc-warnSearchDialog
    .rw-mdc-warnDialog-searchDialog-instantSelect {
    font-size: small;
    line-height: 2.25em;
}
