#p-personal {
    z-index: 1;
}

.rw-mdc-warnDialog {
    width: 50vw;
    height: 95vh;
}

.rw-mdc-warnDialog-user {
    min-height: 100px;
}

.rw-mdc-warnDialog-user--overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*noinspection CssUnresolvedCustomProperty*/
    background-color: var(--mdc-theme-background);

    transition: opacity 0.2s ease;
    opacity: 1;
}

.rw-mdc-warnDialog-user.rw-mdc-warnDialog-user--active
    .rw-mdc-warnDialog-user--overlay {
    pointer-events: none;
    opacity: 0;
}

.rw-mdc-warnDialog-user--overlay > div {
    width: 100%;
    height: 100%;
}

.rw-mdc-warnDialog-user--loading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.rw-mdc-warnDialog-user--loading :first-child {
    font-size: xx-large;
}

@keyframes rw-mdc-colorPulsate {
    0% {
        color: gray;
    }
    50% {
        color: darkgray;
    }
    100% {
        color: gray;
    }
}

.rw-mdc-warnDialog-user--loading :last-child {
    font-size: smaller;
    animation: rw-mdc-colorPulsate 1s linear infinite;
}

.rw-mdc-warnDialog-user--input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rw-mdc-warnDialog-user--input span[data-mdc-textinput] {
    min-width: 250px;
    width: 65%;
    margin-right: 8px;
}

.rw-mdc-warnDialog-user table {
    border-collapse: collapse;
}

.rw-mdc-warnDialog-user table > tr:first-child > td:first-child {
    border-right: 1px solid lightgray;
    width: 100%;
}

.rw-mdc-warnDialog-user table > tr:first-child > td:last-child,
.rw-mdc-warnDialog-user table > tr:last-child > td {
    width: 20%;
}

.rw-mdc-warnDialog-user table > tr:first-child > td:last-child {
    border-bottom: 1px solid lightgray;
}

.rw-mdc-warnDialog-user--main {
    padding: 8px;
}

.rw-mdc-warnDialog-user--username {
    font-size: xx-large;
}

.rw-mdc-warnDialog-user--overview {
    font-size: smaller;
    text-transform: uppercase;
}

.rw-mdc-warnDialog-user--overview .mdc-tooltip {
    font-size: initial;
    text-transform: initial;
}

.rw-mdc-warnDialog-user--username a,
.rw-mdc-warnDialog-user--overview a {
    color: inherit;
}

.rw-mdc-warnDialog-user--overview a:hover {
    text-decoration: underline;
}

.rw-mdc-warnDialog-reason {
    margin: 16px 0;
}

.rw-mdc-warnDialog-reason .rw-mdc-warnDialog-reason--dropdown {
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.rw-mdc-warnDialog-reason .mdc-select {
    width: calc(100% - 56px); /* IconButton width + 8px margin */
}

.rw-mdc-warnDialog-reason .mdc-select__menu {
    max-height: 40vh !important;
}

.rw-mdc-warnDialog-reason .rw-mdc-warnDialog-reason--search {
    margin-left: 8px;
}
